.arrow-container {
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    max-width: 100px;
    cursor: pointer;
    background-color: #111;
    z-index: 3;
}

.arrow-container:hover {
    transition: ease-in-out 0.3s;
    background-color: #222;
}

.arrow {
    background-color: #4acfac;
    width: 50px;
    height: 5px;
    border-radius: 50px;
    position: absolute;
    margin: 0 10px;
}

@media (max-width: 1024px) {
    .arrow-container {
        display: none;
    }

    .arrow {
        display: none;
    }

}