.about-container {
    width: 100%;
}

.about-content {
    font-size: 19px;
}

.about-details-container {
    display: flex;
    justify-content: center;
}

.about-content-container {
    width: 69vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.about-me-container {
    margin-top: 100px;
    margin-bottom: 20vh;
    max-width: 1050px;
}

.about-exp-educ-container {
    margin: 15px 0;
}

.about-skill-container p {
    width: 35vw;
    justify-content: center;
    margin: 5px 10px;
    transition: ease-in-out 0.3s;
}

.about-skill-container p:hover {
    background-color: #247ba0;
    transform: translateX(1000);
}

.company-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.company-name {
    font-size: 23px;
    font-weight: bold;
}

.company-role {
    font-size: 18px;
    font-weight: normal;
    margin: 15px 0;
}

.company-date {
    font-size: 15px;
}

.school-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.school-name {
    font-size: 23px;
    font-weight: bold;
}

.school-course {
    font-size: 18px;
    font-weight: normal;
    margin: 15px 0;
}

.school-year {
    font-size: 15px;
}

.about-img {
    width: 150px;
}

.skill-content-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-top: 35px;
}

.skill-list-container {
    border: 2px solid #4acfac;
    padding: 10px 20px;
    border-radius: 20px;
    width: 45vw;
}

.skill-list-container h1 {
    margin-bottom: 20px;
    margin-top: 0;
}

.skill-img {
    width: 30vw;
}

.skill-list {
    display: flex;
    align-items: center;
}

.skill-list-button {
    color: #fff;
    width: 5%;
    font-size: 25px;
    cursor: pointer;
}

.skill-list-button p {
    transition: ease-in-out 0.3s;
}

.skill-list-button p:hover {
    color: #4acfac;
}

.skills-container {
    width: 90%;
    height: 250px;
    overflow-y: auto;
    padding-bottom: 15px;
}

.skill-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
}

.skill-graph-container {
    box-sizing: border-box;
    width: 96%;
    height: 23px;
    margin: 0 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #4acfac;
    border-radius: 3px;
}

.skill-graph {
    background-color: #4acfac;
    height: 17px;
    margin: 3px;
}

/* Tablet */
@media only screen and (max-width: 1024px) {
    .about-content {
        font-size: 13px;
    }

    .about-content-container {
        padding: 30px;
    }

    .about-details-container {
        display: flex;
        justify-content: center;
    }

    .about-exp-educ-container {
        margin: 15px 0;
    }

    .about-skill-container p {
        width: 34vw;
        margin: 5px 10px;
        text-align: center;
    }

    .company-name {
        font-size: 15px;
    }

    .company-role {
        font-size: 13px;
        margin: 10px 0;
    }

    .company-date {
        font-size: 12px;
    }

    .school-name {
        font-size: 15px;
    }

    .school-course {
        font-size: 13px;
        margin: 10px 0;
    }

    .school-year {
        font-size: 12px;
    }

    .about-img {
        width: 100px;
    }

    .skill-content-container {
        display: flex;
        flex-direction: column;
    }

    .skill-img {
        width: 50vw;
        margin-bottom: 50px;
    }

    .skill-list-container {
        width: 100%;
        margin-bottom: 150px;
    }
}

/* Mobile */
@media only screen and (max-width: 415px) {
    .about-content {
        font-size: 6.5px;
    }

    .about-content-container {
        width: 100vw;
        padding: 10px 5px;
    }
    .about-details-container {
        display: flex;
        justify-content: center;
    }

    .about-exp-educ-container {
        margin: 15px 0;
    }

    .about-skill-container {
        grid-template-columns: auto;
    }

    .about-skill-container p {
        font-size: 9px;
        width: 68vw;
        margin: 5px 10px;
        text-align: center;
    }

    .company-name {
        font-size: 10px;
    }

    .company-role {
        font-size: 9px;
        margin: 5px 0;
    }

    .company-date {
        font-size: 8.5px;
    }

    .school-name {
        font-size: 10px;
    }

    .school-course {
        font-size: 9px;
        margin: 5px 0;
    }

    .school-year {
        font-size: 8.5px;
    }

    .about-img {
        width: 70px;
    }

    .skill-item {
        font-size: 10px;
    }

    .skills-container {
        height: 250px;
        overflow-y: auto;
        padding-bottom: 15px;
    }

    .skill-img {
        width: 80vw;
        margin-bottom: 50px;
    }

    .skill-graph-container {
        margin: 0 5px;
    }
}
