.project-list-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 30px;
}

.project-container {
    width: 350px;
    border: 1px solid #4acfac;
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
    background-color: #000;
    min-height: 333px;
    margin: 30px 15px;
}

.project-detail-container {
    padding: 20px;
}

.project-title {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
}

.techstack-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.techstack-container p {
    border: 1px solid #4acfac;
    padding: 5px 10px;
    margin: 3px 5px;
    border-radius: 50px;
    background-color: #222;
}

/* Tablet */
@media only screen and (max-width: 1025px) {
    .project-list-container {
        display: flex;
        flex-wrap: wrap;
    }

    .project-container {
        width: 350px;
        margin-bottom: 100px;
    }

    .project-detail-container {
        padding: 20px;
    }

    .project-title {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 2px;
    }

    .techstack-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .techstack-container p {
        border: 1px solid #4acfac;
        padding: 5px 10px;
        margin: 3px 5px;
        border-radius: 50px;
        background-color: #222;
    }
}
